:root {
  --animate-duration: 2s;
  --animate-delay: 0.9s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  font-size: 18px;
}
body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 120, 15, 1) 0%,
    rgba(73, 47, 121, 1) 65%
  );
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-brand img {
  width: 10%;
}
.navbar-brand img:hover {
  opacity: 0.8;
}
.nav-link {
  color: #ffff;
}
.nav-link:hover {
  color: #f1780f;
}
/*---------HERO------------*/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.432)),
    url(../Images/tpp-bar-outside.png) no-repeat center/ cover;
  height: 100vh;
  width: 100%;
  color: white;
}
.container-hero {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-hero .info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #492f79;
  -webkit-text-stroke: 1px #ffff;
  text-transform: uppercase;
}
.container-hero .info h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #f1780f;
  -webkit-text-stroke: 0.5px white;
  text-transform: uppercase;
}
.container-hero .info p {
  font-size: 1.2rem;
  max-width: 70%;
  margin: 0 auto;
}
.container-hero .info a {
  text-decoration: none;
  display: inline-block;
  background-color: #f1780f;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: #492f79;
}
.container-hero .info a:hover {
  opacity: 0.8;
}

/*---------FOOTER------------*/
footer hr {
  display: block;
  border: solid 5px white;
}
#social-logo:hover {
  opacity: 0.8;
}
#contact-heading {
  color: #f1780f;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap: 15px;
}
.contact li {
  list-style: none;
}
.contact a {
  text-decoration: none;
  color: white;
}
.contact a:hover {
  color: #f1780f;
}
#phone-num {
  text-decoration: none;
  color: white;
}
#phone-num:hover {
  color: #f1780f;
}
#hours-heading {
  color: #f1780f;
}
.hours {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.hours li {
  list-style: none;
}
#copyright strong {
  color: #f1780f;
}
/*---------KEYFRAMES------------*/
.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 5s;
}
.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 8s;
  --animate-delay: 4s;
}
.animate_animated.animate__fadeInUp {
  --animate-duration: 10s;
  --animate-delay: 10s;
}
/*---------MEDIA QUERIES------------*/
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .navbar-brand img {
    width: 20%;
  }
}
